<h1>The companies are</h1>
Here a list of companies will be genrates by based whether you searched by name of the company or by symbol.
<hr>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Symbol</th>
            <th>Sector</th>

        </tr>
    </thead>
    <tbody></tbody>
    <% for (course of courses) {
        const name = course['Name'];
        const symbol = course['Symbol'];
        const sector = course['Sector'];
         %>
      <tr class="mb-2"> 
        <td>
            <strong><%= course.name %></strong>
        </td>

        <td>
            <%=course.symbol%>
        </td>

        <td>
            <%=course.sector%>

        </td>
         <!-- <%= JSON.stringify(course.times) %> <br> -->
        

        <td>
          <%= inst[0]+" "+inst[1]%> <br> <%= " ("+inst[2]+")" %>
        </td>
    </tr>
    <% } %>
    </tbody>
</table>

<pre>
    <!-- 
        <%= JSON.stringify(courses,null,5) %> 
    -->
</pre>